body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header{
    background: #777;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
}

.container{
    padding: 24px;
}

.ecg-wrapper{
    background: #ddd;
    padding: 16px;
    margin-bottom: 16px;
}

canvas{
    display: block;
    background: white;
    border: 2px solid #aaa;
}

.controls{
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.controls label{
    margin-right: 8px;
}

.interpretacion{
    background: #bbf3f3;
    padding: 16px;
    border-top: 1px solid #aaa;
}